html {
    background-color: #fff;
    height: 100%;
    font-size: 16px;
}

/*---------- BODY STYLES ----------*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    height: 100%;
    margin: 1em;
}
  
#wrapper {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-flow: row wrap;
    width: 100%;
}
/* align-items won't affect this code unless you remember to set the height to 100%! */

header,
footer,
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
header, footer {
    background-color: #222;
    height: 25%;
    width: 100%;
    color: #fff;
    padding: 3%;
}
  
h1 {
    /* background: linear-gradient(120deg, rgba(255,255,255,0) 65%, #ffd517 65%); */
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffd517 65%); 
    padding: 1%;
    text-shadow: 1px 1px 1px #222;
    font-size: 1.75em;
    text-align: center;
}
.tab {
    margin-left: 2.5em;
    margin-bottom: .5em;
}
  
  
/*---------- MAIN SECTION STYLES ----------*/
main {
    background: linear-gradient(to top, rgb(210, 160, 245), 30%, rgb(179, 208, 245));
    height: 75%;
    width: 100%;
    padding: 2%;
    flex-direction: column;
    font-weight: 300;
}
  
main p:first-child {
    text-align: center;
    font-weight: 700;
}
  
main a,
main a:visited {
    text-decoration: none;
    color: #4d0050;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffd517 65%);
}
main a:hover,
main a:focus {
    color: #ff002b;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffd517 65%);
}
p.intro {
    margin: 1em 0;
}
p.hooks {
    text-align: justify;
}
  
a,
a:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%);
}
a:hover,
a:focus {
    color: #97e7ff;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffd000 65%);
}
#column-1 a, #column-2 a, #column-3 a {
    text-shadow: 1px 1px 1px #4d0050;
}
  

#column-1, #column-2, #column-3 {
    color: #fff;
    line-height: 1.5em;
    font-size: 1em;
    background-color: #b148b4;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}


#column-2 {
    border-left: 5px solid #ffd517;
    border-right: 5px solid #ffd517;
}

span {
    color: #ffdd93;
    text-shadow: 1px 1px 1px #4d0050;
}
  
/*---------- FOOTER STYLES ----------*/
footer {
    text-align: center;
    font-weight: 300;
    width: 100%;
    height: 15%;
}
  
footer a,
footer a:visited {
    text-decoration: none;
    /* color: #fcaa2f; */
    text-shadow: 1px 1px 1px #4d0050;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ff5132 65%);
}
footer a:hover,
footer a:focus {
    color: #ff5132;
}
  

/*---------- RESPONSIVE STYLES ----------*/
@media (max-width:767px) {
    #column-1, #column-3 {
        border: 5px solid #ffd517;
    }
    #column-2 {
        border-left: 5px solid #ffd517;
        border-right: 5px solid #ffd517;
    }
}

/*---------- TABLET ----------*/
@media (min-width: 768px) {
    header {
        height: 20%;
    }
    h1 {
        font-size: 2.25em;
    }
    main {
        height: 60%;
        font-size: 1.125em;
    }
    #column-1,
    #column-2,
    #column-3 {
        font-size: 1.125em;
    }
    #column-1,
    #column-2 {
      width: 45%;
    }
    #column-3 {
      width: 100%;
    }
  
    footer {
      font-size: 1.125em;
    }
    
}
@media (min-width: 768px) and (max-width:1199px) {
    #column-1, #column-2 {
        border-top: 5px solid #ffd517;
        border-left: 5px solid #ffd517;
        border-right: 5px solid #ffd517;
    }
    #column-3 {
        border: 5px solid #ffd517;
    }
}
  
  
/*---------- DESKTOP ----------*/
@media (min-width: 1200px) {
    body {
        margin: 1.5em;
    }
    header {
      height: 15%;
    }
    h1 {
        font-size: 2.5em;
    }
    
    #column-1,
    #column-2,
    #column-3 {
        border: 5px solid #ffd517;
        width: 30%;
    }
  
    footer {
      /* background-color: #610404; */
      line-height: 1.5em;
    }
     
}
